In [1]:
import os
import pathlib

In [2]:
import pandas as pd 
import numpy as np

### enter bulletin directory

In [3]:
bulletin_dir = 'AMJ_2019'

In [4]:
dpath = pathlib.Path.cwd().parents[1] / 'bulletin' / bulletin_dir

In [5]:
dpath

PosixPath('/home/nicolasf/operational/ICU/ops/bulletin/AMJ_2019')

In [6]:
forecasts = pd.read_csv(dpath / 'ICU_forecast_table_for_mapping.csv', index_col=0)

In [7]:
forecasts.head()

                           Stress                 COUNTRYNAM
New Caledonia                  -5              New Caledonia
Pitcairn Islands                4           Pitcairn Islands
Papua New Guinea               -5           Papua New Guinea
Solomon Islands                 4            Solomon Islands
Kiribati: Phoenix Islands       4  Kiribati: Phoenix Islands

In [8]:
forecasts

                                Stress                      COUNTRYNAM
New Caledonia                       -5                   New Caledonia
Pitcairn Islands                     4                Pitcairn Islands
Papua New Guinea                    -5                Papua New Guinea
Solomon Islands                      4                 Solomon Islands
Kiribati: Phoenix Islands            4       Kiribati: Phoenix Islands
Fiji                                -3                            Fiji
Tuvalu                               4                          Tuvalu
Northern Cook Islands               -3           Northern Cook Islands
Kiribati: Line Islands               4          Kiribati: Line Islands
Federated States of Micronesia      -3  Federated States of Micronesia
Samoa                                4                           Samoa
Kiribati: Gilbert Islands            4       Kiribati: Gilbert Islands
Wallis & Futuna                      4                 Wallis & Futuna
Tokelau                              2                         Tokelau
Tuamotu / Gambier Islands         -666       Tuamotu / Gambier Islands
Tonga                               -5                           Tonga
Niue                                -5                            Niue
Southern Cook Islands             -666           Southern Cook Islands
Austral Islands                   -666                 Austral Islands
Society Islands                   -666                 Society Islands
Marquesas                           -5                       Marquesas
Vanuatu South                       -5                   Vanuatu South
Vanuatu North                       -5                   Vanuatu North
Guam                                -5                            Guam
Northern Marianas                   -5               Northern Marianas
Marshall Islands                    -5                Marshall Islands
Nauru                                4                           Nauru
Palau                               -5                           Palau
American Samoa                       4                  American Samoa

In [9]:
island_names = pd.read_csv(pathlib.Path.cwd().parents[1] / 'resources' / 'ICU_Island_names.csv', index_col=0)

In [10]:
island_names.head()

                            ID
Island name
American Samoa              AS
Austral Islands             AI
Kiribati: Phoenix Islands   KP
Northern Cook Islands      NCK
Southern Cook Islands      SCK

In [11]:
forecasts.loc[:,'ID'] = island_names.loc[:,'ID']

In [12]:
forecasts

                                Stress                      COUNTRYNAM   ID
New Caledonia                       -5                   New Caledonia   NC
Pitcairn Islands                     4                Pitcairn Islands   PN
Papua New Guinea                    -5                Papua New Guinea   PG
Solomon Islands                      4                 Solomon Islands   SB
Kiribati: Phoenix Islands            4       Kiribati: Phoenix Islands   KP
Fiji                                -3                            Fiji   FJ
Tuvalu                               4                          Tuvalu   TV
Northern Cook Islands               -3           Northern Cook Islands  NCK
Kiribati: Line Islands               4          Kiribati: Line Islands   KL
Federated States of Micronesia      -3  Federated States of Micronesia   FM
Samoa                                4                           Samoa   WS
Kiribati: Gilbert Islands            4       Kiribati: Gilbert Islands   KG
Wallis & Futuna                      4                 Wallis & Futuna   WF
Tokelau                              2                         Tokelau   TK
Tuamotu / Gambier Islands         -666       Tuamotu / Gambier Islands   TG
Tonga                               -5                           Tonga   TO
Niue                                -5                            Niue   NU
Southern Cook Islands             -666           Southern Cook Islands  SCK
Austral Islands                   -666                 Austral Islands   AI
Society Islands                   -666                 Society Islands   SI
Marquesas                           -5                       Marquesas   MA
Vanuatu South                       -5                   Vanuatu South   VS
Vanuatu North                       -5                   Vanuatu North   VN
Guam                                -5                            Guam   GU
Northern Marianas                   -5               Northern Marianas   MP
Marshall Islands                    -5                Marshall Islands   MH
Nauru                                4                           Nauru   NR
Palau                               -5                           Palau   PW
American Samoa                       4                  American Samoa   AS

In [13]:
forecasts = forecasts.set_index('ID')

In [14]:
forecasts.index.name = 'locationID'

In [15]:
forecasts.index

Index(['NC', 'PN', 'PG', 'SB', 'KP', 'FJ', 'TV', 'NCK', 'KL', 'FM', 'WS', 'KG',
       'WF', 'TK', 'TG', 'TO', 'NU', 'SCK', 'AI', 'SI', 'MA', 'VS', 'VN', 'GU',
       'MP', 'MH', 'NR', 'PW', 'AS'],
      dtype='object', name='locationID')

### now reads the template for Visual Cortex

In [16]:
vs_table = pd.read_csv(pathlib.Path.cwd().parents[1] / 'resources' / 'ICU_Rainfall_for_Visual_Cortex.csv', index_col=0)

In [17]:
vs_table_columns = vs_table.columns[1:].tolist()

In [18]:
vs_table_columns

['Date 1',
 'Blank',
 'Date 2',
 'Below',
 'Date 3',
 'Normal_Below',
 'Date 4',
 'Normal',
 'Date 5',
 'Normal_Above',
 'Date 6',
 'Above']

In [19]:
vs_table.index

Index(['American Samoa', 'Austral Islands', 'Federated States of Micronesia',
       'Fiji', 'Guam', 'Kiribati: Gilbert Islands', 'Kiribati: Line Islands',
       'Kiribati: Phoenix Islands', 'Marquesas ', 'Marshall Islands', 'Nauru',
       'New Caledonia', 'Niue', 'Northern Cook Islands', 'Northern Marianas',
       'Palau', 'Papua New Guinea', 'Pitcairn', 'Samoa', 'Society Islands',
       'Solomon Islands', 'Southern Cook Islands', 'Tokelau', 'Tonga',
       'Tuamotu / Gambier Islands', 'Tuvalu', 'Vanuatu North', 'Vanuatu South',
       'Wallis & Futuna'],
      dtype='object', name='Unnamed: 0')

In [20]:
vs_table_fill = vs_table.copy()

In [21]:
vs_table_fill.loc[:,'Below'] = 99

In [22]:
vs_table_fill.loc[:,'Normal_Below'] = 99

In [23]:
vs_table_fill.loc[:,'Normal'] = 99

In [24]:
vs_table_fill.loc[:,'Normal_Above'] = 99

In [25]:
vs_table_fill.loc[:,'Above'] = 99

In [26]:
below = forecasts.query("Stress == -5").loc[:,'Stress']
normal_below = forecasts.query("Stress == -3").loc[:,'Stress']
normal = forecasts.query("Stress == 0").loc[:,'Stress']
normal_above = forecasts.query("Stress == 2").loc[:,'Stress']
above = forecasts.query("Stress == 4").loc[:,'Stress']

In [27]:
forecasts

            Stress                      COUNTRYNAM
locationID
NC              -5                   New Caledonia
PN               4                Pitcairn Islands
PG              -5                Papua New Guinea
SB               4                 Solomon Islands
KP               4       Kiribati: Phoenix Islands
FJ              -3                            Fiji
TV               4                          Tuvalu
NCK             -3           Northern Cook Islands
KL               4          Kiribati: Line Islands
FM              -3  Federated States of Micronesia
WS               4                           Samoa
KG               4       Kiribati: Gilbert Islands
WF               4                 Wallis & Futuna
TK               2                         Tokelau
TG            -666       Tuamotu / Gambier Islands
TO              -5                           Tonga
NU              -5                            Niue
SCK           -666           Southern Cook Islands
AI            -666                 Austral Islands
SI            -666                 Society Islands
MA              -5                       Marquesas
VS              -5                   Vanuatu South
VN              -5                   Vanuatu North
GU              -5                            Guam
MP              -5               Northern Marianas
MH              -5                Marshall Islands
NR               4                           Nauru
PW              -5                           Palau
AS               4                  American Samoa

In [28]:
below.index

Index(['NC', 'PG', 'TO', 'NU', 'MA', 'VS', 'VN', 'GU', 'MP', 'MH', 'PW'], dtype='object', name='locationID')

In [29]:
vs_table_fill = vs_table_fill.set_index('location_ID', drop=False)

In [30]:
vs_table_fill.loc[below.index,['Below','Normal_Below','Normal','Normal_Above','Above']] = -5

In [31]:
vs_table_fill.loc[normal_below.index,['Normal_Below','Normal','Normal_Above','Above']] = -3

In [32]:
vs_table_fill.loc[normal.index,['Normal','Normal_Above','Above']] = 0

In [33]:
vs_table_fill.loc[normal_above.index,['Normal_Above','Above']] = 2

In [34]:
vs_table_fill.loc[above.index,['Above']] = 4

In [35]:
vs_table_fill

,location_ID,Date 1,Blank,Date 2,Below,Date 3,Normal_Below,Date 4,Normal,Date 5,Normal_Above,Date 6,Above
location_ID,,,,,,,,,,,,,
AS,AS,1/01/2017,99,2/01/2017,99,3/01/2017,99,4/01/2017,99,5/01/2017,99,6/01/2017,4
AI,AI,1/01/2017,99,2/01/2017,99,3/01/2017,99,4/01/2017,99,5/01/2017,99,6/01/2017,99
FM,FM,1/01/2017,99,2/01/2017,99,3/01/2017,-3,4/01/2017,-3,5/01/2017,-3,6/01/2017,-3
FJ,FJ,1/01/2017,99,2/01/2017,99,3/01/2017,-3,4/01/2017,-3,5/01/2017,-3,6/01/2017,-3
GU,GU,1/01/2017,99,2/01/2017,-5,3/01/2017,-5,4/01/2017,-5,5/01/2017,-5,6/01/2017,-5
KG,KG,1/01/2017,99,2/01/2017,99,3/01/2017,99,4/01/2017,99,5/01/2017,99,6/01/2017,4
KL,KL,1/01/2017,99,2/01/2017,99,3/01/2017,99,4/01/2017,99,5/01/2017,99,6/01/2017,4
KP,KP,1/01/2017,99,2/01/2017,99,3/01/2017,99,4/01/2017,99,5/01/2017,99,6/01/2017,4
MA,MA,1/01/2017,99,2/01/2017,-5,3/01/2017,-5,4/01/2017,-5,5/01/2017,-5,6/01/2017,-5
MH,MH,1/01/2017,99,2/01/2017,-5,3/01/2017,-5,4/01/2017,-5,5/01/2017,-5,6/01/2017,-5
NR,NR,1/01/2017,99,2/01/2017,99,3/01/2017,99,4/01/2017,99,5/01/2017,99,6/01/2017,4
NC,NC,1/01/2017,99,2/01/2017,-5,3/01/2017,-5,4/01/2017,-5,5/01/2017,-5,6/01/2017,-5
NU,NU,1/01/2017,99,2/01/2017,-5,3/01/2017,-5,4/01/2017,-5,5/01/2017,-5,6/01/2017,-5
NCK,NCK,1/01/2017,99,2/01/2017,99,3/01/2017,-3,4/01/2017,-3,5/01/2017,-3,6/01/2017,-3
MP,MP,1/01/2017,99,2/01/2017,-5,3/01/2017,-5,4/01/2017,-5,5/01/2017,-5,6/01/2017,-5
PW,PW,1/01/2017,99,2/01/2017,-5,3/01/2017,-5,4/01/2017,-5,5/01/2017,-5,6/01/2017,-5
PG,PG,1/01/2017,99,2/01/2017,-5,3/01/2017,-5,4/01/2017,-5,5/01/2017,-5,6/01/2017,-5
PN,PN,1/01/2017,99,2/01/2017,99,3/01/2017,99,4/01/2017,99,5/01/2017,99,6/01/2017,4
WS,WS,1/01/2017,99,2/01/2017,99,3/01/2017,99,4/01/2017,99,5/01/2017,99,6/01/2017,4
SI,SI,1/01/2017,99,2/01/2017,99,3/01/2017,99,4/01/2017,99,5/01/2017,99,6/01/2017,99
SB,SB,1/01/2017,99,2/01/2017,99,3/01/2017,99,4/01/2017,99,5/01/2017,99,6/01/2017,4
SCK,SCK,1/01/2017,99,2/01/2017,99,3/01/2017,99,4/01/2017,99,5/01/2017,99,6/01/2017,99
TK,TK,1/01/2017,99,2/01/2017,99,3/01/2017,99,4/01/2017,99,5/01/2017,2,6/01/2017,2
TO,TO,1/01/2017,99,2/01/2017,-5,3/01/2017,-5,4/01/2017,-5,5/01/2017,-5,6/01/2017,-5
TG,TG,1/01/2017,99,2/01/2017,99,3/01/2017,99,4/01/2017,99,5/01/2017,99,6/01/2017,99
TV,TV,1/01/2017,99,2/01/2017,99,3/01/2017,99,4/01/2017,99,5/01/2017,99,6/01/2017,4
VN,VN,1/01/2017,99,2/01/2017,-5,3/01/2017,-5,4/01/2017,-5,5/01/2017,-5,6/01/2017,-5
VS,VS,1/01/2017,99,2/01/2017,-5,3/01/2017,-5,4/01/2017,-5,5/01/2017,-5,6/01/2017,-5
WF,WF,1/01/2017,99,2/01/2017,99,3/01/2017,99,4/01/2017,99,5/01/2017,99,6/01/2017,4

In [36]:
vs_table_fill.head()

,location_ID,Date 1,Blank,Date 2,Below,Date 3,Normal_Below,Date 4,Normal,Date 5,Normal_Above,Date 6,Above
location_ID,,,,,,,,,,,,,
AS,AS,1/01/2017,99,2/01/2017,99,3/01/2017,99,4/01/2017,99,5/01/2017,99,6/01/2017,4
AI,AI,1/01/2017,99,2/01/2017,99,3/01/2017,99,4/01/2017,99,5/01/2017,99,6/01/2017,99
FM,FM,1/01/2017,99,2/01/2017,99,3/01/2017,-3,4/01/2017,-3,5/01/2017,-3,6/01/2017,-3
FJ,FJ,1/01/2017,99,2/01/2017,99,3/01/2017,-3,4/01/2017,-3,5/01/2017,-3,6/01/2017,-3
GU,GU,1/01/2017,99,2/01/2017,-5,3/01/2017,-5,4/01/2017,-5,5/01/2017,-5,6/01/2017,-5

In [37]:
vs_table_fill.loc[:,'location_ID'] = vs_table_fill.index

In [38]:
vs_table_fill.head()

,location_ID,Date 1,Blank,Date 2,Below,Date 3,Normal_Below,Date 4,Normal,Date 5,Normal_Above,Date 6,Above
location_ID,,,,,,,,,,,,,
AS,AS,1/01/2017,99,2/01/2017,99,3/01/2017,99,4/01/2017,99,5/01/2017,99,6/01/2017,4
AI,AI,1/01/2017,99,2/01/2017,99,3/01/2017,99,4/01/2017,99,5/01/2017,99,6/01/2017,99
FM,FM,1/01/2017,99,2/01/2017,99,3/01/2017,-3,4/01/2017,-3,5/01/2017,-3,6/01/2017,-3
FJ,FJ,1/01/2017,99,2/01/2017,99,3/01/2017,-3,4/01/2017,-3,5/01/2017,-3,6/01/2017,-3
GU,GU,1/01/2017,99,2/01/2017,-5,3/01/2017,-5,4/01/2017,-5,5/01/2017,-5,6/01/2017,-5

In [39]:
vs_table.index.name = 'country_name'

In [40]:
vs_table_fill.index = vs_table.index

In [41]:
vs_table_fill

,location_ID,Date 1,Blank,Date 2,Below,Date 3,Normal_Below,Date 4,Normal,Date 5,Normal_Above,Date 6,Above
country_name,,,,,,,,,,,,,
American Samoa,AS,1/01/2017,99,2/01/2017,99,3/01/2017,99,4/01/2017,99,5/01/2017,99,6/01/2017,4
Austral Islands,AI,1/01/2017,99,2/01/2017,99,3/01/2017,99,4/01/2017,99,5/01/2017,99,6/01/2017,99
Federated States of Micronesia,FM,1/01/2017,99,2/01/2017,99,3/01/2017,-3,4/01/2017,-3,5/01/2017,-3,6/01/2017,-3
Fiji,FJ,1/01/2017,99,2/01/2017,99,3/01/2017,-3,4/01/2017,-3,5/01/2017,-3,6/01/2017,-3
Guam,GU,1/01/2017,99,2/01/2017,-5,3/01/2017,-5,4/01/2017,-5,5/01/2017,-5,6/01/2017,-5
Kiribati: Gilbert Islands,KG,1/01/2017,99,2/01/2017,99,3/01/2017,99,4/01/2017,99,5/01/2017,99,6/01/2017,4
Kiribati: Line Islands,KL,1/01/2017,99,2/01/2017,99,3/01/2017,99,4/01/2017,99,5/01/2017,99,6/01/2017,4
Kiribati: Phoenix Islands,KP,1/01/2017,99,2/01/2017,99,3/01/2017,99,4/01/2017,99,5/01/2017,99,6/01/2017,4
Marquesas,MA,1/01/2017,99,2/01/2017,-5,3/01/2017,-5,4/01/2017,-5,5/01/2017,-5,6/01/2017,-5
Marshall Islands,MH,1/01/2017,99,2/01/2017,-5,3/01/2017,-5,4/01/2017,-5,5/01/2017,-5,6/01/2017,-5
Nauru,NR,1/01/2017,99,2/01/2017,99,3/01/2017,99,4/01/2017,99,5/01/2017,99,6/01/2017,4
New Caledonia,NC,1/01/2017,99,2/01/2017,-5,3/01/2017,-5,4/01/2017,-5,5/01/2017,-5,6/01/2017,-5
Niue,NU,1/01/2017,99,2/01/2017,-5,3/01/2017,-5,4/01/2017,-5,5/01/2017,-5,6/01/2017,-5
Northern Cook Islands,NCK,1/01/2017,99,2/01/2017,99,3/01/2017,-3,4/01/2017,-3,5/01/2017,-3,6/01/2017,-3
Northern Marianas,MP,1/01/2017,99,2/01/2017,-5,3/01/2017,-5,4/01/2017,-5,5/01/2017,-5,6/01/2017,-5
Palau,PW,1/01/2017,99,2/01/2017,-5,3/01/2017,-5,4/01/2017,-5,5/01/2017,-5,6/01/2017,-5
Papua New Guinea,PG,1/01/2017,99,2/01/2017,-5,3/01/2017,-5,4/01/2017,-5,5/01/2017,-5,6/01/2017,-5
Pitcairn,PN,1/01/2017,99,2/01/2017,99,3/01/2017,99,4/01/2017,99,5/01/2017,99,6/01/2017,4
Samoa,WS,1/01/2017,99,2/01/2017,99,3/01/2017,99,4/01/2017,99,5/01/2017,99,6/01/2017,4
Society Islands,SI,1/01/2017,99,2/01/2017,99,3/01/2017,99,4/01/2017,99,5/01/2017,99,6/01/2017,99
Solomon Islands,SB,1/01/2017,99,2/01/2017,99,3/01/2017,99,4/01/2017,99,5/01/2017,99,6/01/2017,4
Southern Cook Islands,SCK,1/01/2017,99,2/01/2017,99,3/01/2017,99,4/01/2017,99,5/01/2017,99,6/01/2017,99
Tokelau,TK,1/01/2017,99,2/01/2017,99,3/01/2017,99,4/01/2017,99,5/01/2017,2,6/01/2017,2
Tonga,TO,1/01/2017,99,2/01/2017,-5,3/01/2017,-5,4/01/2017,-5,5/01/2017,-5,6/01/2017,-5
Tuamotu / Gambier Islands,TG,1/01/2017,99,2/01/2017,99,3/01/2017,99,4/01/2017,99,5/01/2017,99,6/01/2017,99
Tuvalu,TV,1/01/2017,99,2/01/2017,99,3/01/2017,99,4/01/2017,99,5/01/2017,99,6/01/2017,4
Vanuatu North,VN,1/01/2017,99,2/01/2017,-5,3/01/2017,-5,4/01/2017,-5,5/01/2017,-5,6/01/2017,-5
Vanuatu South,VS,1/01/2017,99,2/01/2017,-5,3/01/2017,-5,4/01/2017,-5,5/01/2017,-5,6/01/2017,-5
Wallis & Futuna,WF,1/01/2017,99,2/01/2017,99,3/01/2017,99,4/01/2017,99,5/01/2017,99,6/01/2017,4

In [42]:
dpath

PosixPath('/home/nicolasf/operational/ICU/ops/bulletin/AMJ_2019')

In [43]:
vs_table_fill.to_csv(dpath / 'ICU_Rainfall_for_Visual_Cortex_{}.csv'.format(bulletin_dir))